<form nz-form [formGroup]="formName" class="login-form" (ngSubmit)="submitForm()">
  <div nz-col [nzSpan]="24">
    <div *ngFor="let item of mainData">
      <div nz-col [nzSpan]="item.col_responsive ? item.col_responsive : 24">
        <app-input-custom *ngIf="item.form_type == 'input'" [typeInput]="item.type_input" [colLabel]="item.col_label" [colInput]="item.col_input" [parentForm]="formName" [formCtrName]="item.form_ctr_name" [placeholder]="item.place_holder">
          </app-input-custom>
      
          <app-select-custom *ngIf="item.form_type == 'select'" [colLabel]="item.col_label" [colInput]="item.col_input" [parentForm]="formName" [formCtrName]="item.form_ctr_name" [placeholder]="item.place_holder" [optionData]="item.value">
          </app-select-custom>
      
          <app-multiple-select-custom *ngIf="item.form_type == 'multiple-select'" [colLabel]="item.col_label" [colInput]="item.col_input" [parentForm]="formName" [formCtrName]="item.form_ctr_name" [placeholder]="item.place_holder" [optionData]="item.value">
          </app-multiple-select-custom>
      
          <app-time-custom *ngIf="item.form_type == 'time'" [colLabel]="item.col_label" [colInput]="item.col_input" [parentForm]="formName" [formCtrName]="item.form_ctr_name" [placeholder]="item.place_holder">
          </app-time-custom>
    
          <app-date-custom *ngIf="item.form_type == 'date'" [colLabel]="item.col_label" [colInput]="item.col_input" [parentForm]="formName" [formCtrName]="item.form_ctr_name" [placeholder]="item.place_holder">
          </app-date-custom>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="24" class="user-modal-btn">  
    <span class="user-modal-warning pull-left" *ngIf="!isValid">* Please fill all the field has * and correct type of email</span>
    <button nz-button nzType="primary" type="submit" class="pull-right" [nzLoading]="isConfirmLoading">Submit</button>
    <button nz-button nzType="default" class="pull-right user-modal-btn__cancel" (click)="destroyModal('close')">Cancel</button>
  </div>
</form>
